@import 'theme.scss';

@font-face {
  font-family: 'Romie TRIAL';
  src: url('/fonts/RomieTRIAL-Regularwoff') format('woff'),
    url('/fonts/RomieTRIAL-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Edwardian Script ITC';
  src: url('/fonts/EdwardianScriptITC.woff') format('woff'),
    url('/fonts/EdwardianScriptITC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lausanne';
  src: url('/fonts/Lausanne-300.woff') format('woff'),
    url('/fonts/Lausanne-300.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
main {
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  font-family: $primary_font;
}
